html,
body {
  height: 100%;
}

body {
  background-color: rgb(3, 24, 3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Impact, Charcoal, sans-serif;
  color: whitesmoke;
}

canvas {
  background-image: url('https://png.pngtree.com/png-vector/20200412/ourlarge/pngtree-desinfectant-and-covid-19-corona-virus-png-image_2182885.jpg');
  margin: 0;
  padding: 0;
}
