html,
body {
  height: 100%;
}

body {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Impact, Charcoal, sans-serif;
  color: whitesmoke;
}

canvas {
  background-color: black;
  color: whitesmoke;
  margin: 0;
  padding: 0;
}
